.env
vendor/
/*.xml
xmlFile/
*.out
*.log
.vscode/
cert
/bin/*
**/config.json
**/config.jsonc
.husky
node_modules
*/package-lock.json
*/package.json
*/yarn.lock
*/.DS_Store
/.idea/
/golangci.yml
*/cover.html