version: "3.8"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - apps
  
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    environment:
      POSTGRES_USER: railway
      POSTGRES_PASSWORD: alhamsya
      POSTGRES_DB: railway
    ports:
      - "5432:5432"
    volumes:
      - timescaledb_data:/var/lib/postgresql/data
    networks:
      - apps

networks:
  apps:
    driver: bridge

volumes:
  redis_data:
  timescaledb_data: